body {
  background-color: #ffffff;
}

hr{
  border-style: dotted none none none;
  border-top-width: 7px;
  border-color: grey;
  width: 60px;
}

h1{
  color: #60204b
}

h2, h3, h4{
  color: #63aabc;
}
